.bubble {
    cursor: pointer;
    background: #fff;
    border: 1px solid #eee;
    transition: transform 0.2s ease;
  }
  
  .focused {
    transform: scale(1.02);
    border: 1px solid #000;
    z-index: 2;
  }